
body{
    background-color: chartreuse;
}
input[type="text"]{
  background-color: rgb(243, 255, 79);
  color: rgb(43, 36, 36);
  width: 300px;  
  /* margin-bottom:10px; */
}
input[type="checkbox"]{
font-size:20px;
margin:5px;
}
.inputdata > label {
  color: black;
  margin-bottom: 0px;
  font-size:20px;
 
}
input[type="submit"] {
  width: 150px;
  color: rgb(241, 226, 226);
  font-size:20px;
  background-color: rgb(209, 17, 209);
margin-top:10px;
  margin-left: 80px;
  padding:5px;
  border-radius:5px;
}